# set to false for production deployment, true for local development
# If DEV is false, it will stop auto reloading and turn off api docs.
# Default: false
DEV="false"

# Port for the backend server to listen on. 
# Default: 8000
PORT="8000"

# Frontend URL for CORS configuration. 
# Default: "http://localhost:4321"
FRONTEND_URL="http://localhost:4321"

# Backend URL for the frontend to fetch data from.
# Default: "http://localhost:8000"
BACKEND_URL="http://localhost:8000"

# Cloudflare Turnstile secret key for CAPTCHA verification.
# Get a real secret key from Cloudflare Turnstile dashboard for production use.
# Default: "1x0000000000000000000000000000000AA" (Always valid for development).
TURNSTILE_SECRET="1x0000000000000000000000000000000AA"

# how wide your terminal is.
# This is used to format the output of the backend server logs to prevent line breaks in the middle of log lines when running in Docker Compose.
COLUMNS=160
        

# A secure random string used for signing JWT tokens.
# In production, make sure to set this to a strong, unique value and keep it secret.
# Default: not set (auto generated at runtime if not provided, but it's recommended to set it explicitly in production).
# JWT_SECRET=""
