---
import Layout from "@/layouts/Layout.astro";
import "@/styles/landing.css";
import Header from "@/components/landing/header.astro";
import Hero from "@/components/landing/hero.astro";
import Features from "@/components/landing/features.astro";
import Extension from "@/components/landing/extension.astro";
import Stats from "@/components/landing/stats.astro";
import CTA from "@/components/landing/CTA.astro";
import Footer from "@/components/landing/footer.astro";
---

<!-- 
1. header v
2. hero v
3. features v
    (1) C++ to WebAssembly
    (2) error hinting
    (3) test case
    (4) code formatting
    (5) i18n V
    (6) built for competitive programming
    (7) open-source and free to use
    (8) TODO: RWD support
4. extensions V
5. data V
6. CAT V
7. footer V
-->
<Layout>
    <meta
        slot="head"
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <style>
        html,
        body {
            overflow-x: hidden;
            height: 100%;
        }
    </style>
    <div class="mono tracking-tight">
        <Header />
        <Hero />
        <Features />
        <Extension />
        <Stats />
        <CTA />
        <Footer />
    </div>
</Layout>
