---
import Editor from "../components/Editor.tsx";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";

import { SplitViewEditor } from "@/layouts/Resize";
import { GlobalPanelDrawer } from "@/components/Drawer";
import TurnstileWidget from "@/components/turnstile";
import { AlertDialogGood, Alerts } from "@/components/Alert";
import { Settings } from "@/components/Settings";
import { getLanguages } from "@/lib/langList";

const allLangs = getLanguages();
---

<Layout>
  <div class="w-full h-screen overflow-hidden flex items-center flex-col">
    <Header />

    <SplitViewEditor client:load />
    <GlobalPanelDrawer client:load />
    <TurnstileWidget client:only="react" />
    <Alerts client:only="react" />
    <AlertDialogGood client:only="react" />
    <Settings client:only="react" allLangs={allLangs} />
  </div>
</Layout>
