---
import Editor from "../components/Editor.tsx";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";

import { SplitViewEditor } from "@/layouts/Resize";
---

<Layout>
  <div class="w-full h-screen overflow-hidden flex items-center flex-col">
    <Header />

    <SplitViewEditor client:load />
  </div>
</Layout>
