---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import { CodeIcon, PlayIcon } from "@lucide/astro";
import { SiGithub } from "@icons-pack/react-simple-icons";
import "../styles/landing.css";
import HeroCard from "../components/landing/heroCard.astro";
import config from "@/config/constants";

const editorLink = "/";
---

<!-- 
1. header
2. hero
3. features
4. extensions
5. data
6. CAT
-->
<Layout>
    <div class="sans">
        <div
            class="w-full sticky py-4 px-5 border-b-2 border-border flex items-center bg-background">
            <CodeIcon class="size-5" />
            <p class="ml-2 font-bold text-md">C++ Here</p>
            <div class="flex-1"></div>
            <!-- <a
            class="text-sm text-muted-foreground hover:text-primary/80 transition"
            href="#features">Features</a
            > -->
            <div class="flex-1"></div>

            <a
                href={config.githubLink}
                target="_blank"
                rel="noopener noreferrer">
                <Button className="hover:bg-primary/80 " variant={"outline"}>
                    <SiGithub />
                    <p class="ml-1">Github</p>
                </Button>
            </a>
            <a href={editorLink}>
                <Button className="hover:bg-primary/80 transition ml-3"
                    >Open Editor</Button
                >
            </a>
        </div>

        <div class="flex flex-col items-center w-full justify-center">
            <div
                class="pointer-events-none absolute inset-0 opacity-60 -z-10
                    bg-[linear-gradient(var(--border)_1px,transparent_1px),linear-gradient(90deg,var(--border)_1px,transparent_1px)]
                    bg-size-[64px_64px]
                    mask-[radial-gradient(at_center_top,black_10%,transparent_70%)]">
            </div>
            <!-- <div
                class="rounded-full px-3 py-1 flex justify-center items-center bg-accent/40 border-border border mt-25">
                <p
                    class="text-center text-xs md:text-sm text-muted-foreground uppercase">
                    Support 1,000+ competitive programming websites!
                </p>
            </div> -->
            <div class="mt-25">
                <p
                    class="text-[min(4.5rem,8.5vw)] leading-none font-bold text-balance text-center">
                    Next-generation <br />in-browser C++ editor.
                </p>
                <p
                    class="text-muted-foreground text-center mt-5 md:text-lg text-balance px-5">
                    An open-source, lightweight yet powerful C++ editor built
                    for competitive programming
                </p>
            </div>
            <div
                class="flex items-center justify-center mt-13 gap-5 *:text-[0.9rem]">
                <a href={editorLink}>
                    <Button
                        className="hover:bg-primary/80 transition ml-3 "
                        size={"xl"}>
                        <PlayIcon class="size-4" />
                        <p>Start Coding</p>
                    </Button>
                </a>
                <a
                    href={config.githubLink}
                    target="_blank"
                    rel="noopener noreferrer">
                    <Button
                        className="hover:bg-primary/80 "
                        variant={"outline"}
                        size="xl">
                        <SiGithub className="size-4" />
                        <p class="ml-1">Star on Github</p>
                    </Button>
                </a>
            </div>

            <HeroCard />
            <div class="h-[15vh]"></div>
        </div>
    </div>
</Layout>
