---
import Layout from "@/layouts/Layout.astro";
import "@/styles/landing.css";
import Header from "@/components/landing/header.astro";
import Hero from "@/components/landing/hero.astro";
import Features from "@/components/landing/features.astro";
---

<!-- 
1. header v
2. hero v
3. features
    (1) C++ to WebAssembly
    (2) error hinting
    (3) test case
    (4) code formatting
    (5) i18n
    (6) built for competitive programming
    (7) open-source and free to use
4. extensions
5. data
6. CAT
-->
<Layout>
    <style>
        html,
        body {
            overflow-x: hidden;
            height: 100%;
        }
    </style>
    <div class="mono tracking-tight">
        <Header />
        <Hero />
        <Features />
    </div>
</Layout>
