---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center items-center h-screen gap-10">
    <div class="output-card loading w-100 h-100 bg-accent rounded-md"></div>
  </div>
</Layout>
