---
import Hr from "@/components/landing/hr.astro";
import ExtensionMotion from "@/components/landing/extensionMotion.tsx";
import { Button } from "@/components/ui/button";
---

<section class="px-6 md:px-20 py-24 w-full relative">
    <Hr />
    <div class="max-w-2xl mx-auto text-center mb-30 md:mb-16">
        <p
            class="text-xs uppercase tracking-[0.25em] text-muted-foreground mb-4">
            <span class="mr-1 tracking-widest">//</span>extensions
        </p>
        <h2
            class="text-[min(3rem,6vw)] leading-[1.05] font-bold tracking-tighter text-balance text-muted-foreground">
            One click. <br />
            <span class="text-foreground">All your test cases.</span>
        </h2>
    </div>
    <div
        class="relative lg:grid lg:grid-cols-2 lg:gap-10 max-[48rem]:flex max-[48rem]:flex-col max-[48rem]:items-center max-[48rem]:justify-center"
        id="extension-relative">
        <ExtensionMotion client:only="react" />
        <div
            class="relative lg:flex lg:ml-0 lg:flex-col lg:justify-center mt-6 lg:mt-0 max-[48rem]:pl-0! lg:pl-0! max-w-md md:max-w-2xl md:mx-0"
            id="target">
            <p class="text-xl font-bold">Skip the copy-paste</p>
            <p class="text-muted-foreground mt-2 max-w-xl w-fit">
                Import test cases directly from your browser with our extension.
                Support over 100 competitive programming platforms.
            </p>
            <div class="flex gap-4 mt-6">
                <!-- <Button className="hover:bg-primary/80" size={"lg"}
                    >Get for Chrome</Button
                > -->
                <Button disabled size={"lg"}>Coming Soon</Button>
                <!-- <Button
                    className="hover:bg-primary/80"
                    size={"lg"}
                    variant={"outline"}>Get for Firefox</Button
                > -->
            </div>
        </div>
    </div>
</section>
